@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplaySemibold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display Light';
  src: url('/fonts/ClashDisplayMedium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html {
  scroll-behavior: smooth;
}

.nav_font_family {
  font-family: 'Clash Display';
}

.class_font_family_light {
  font-family: 'Clash Display Light';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}